@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    font-family: 'Pacifico', cursive;
}
*{
    box-sizing: border-box;
}
body{
    counter-reset: main;
    padding: 1em;
}
h1,h2{
    font-variant: small-caps;
}
.caja {
    position: relative;
    display: inline-block;
    text-shadow: 0 0 1em red;
}

.caja::before{
    content: 'margin';
    position: absolute;
    top: -3.8em;
    left: 0;
    font-size: .5em;
}

.caja::after{
    content: 'border';
    position: absolute;
    top: -1.8em;
    left: 0;
    font-size: .5em;
    color: white;
}


.padding{
    padding: 1em;
}

.border {
    border-style: solid;
    border-width: 1em;
}
.margin{
    margin: 1em;
    outline: 1em solid seagreen;
}

h1.main-title{
    counter-reset: sub-main;    
}

h1.main-title::before{
 counter-increment: main;
 content: counter(main) ' '
}

h2.title::before {
    counter-increment: sub-main;
    content: counter(main)'.'counter(sub-main) ' ';
}